.formulario{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
}
.datos{
    display: flex;
    flex-direction: column;
    align-items: center;

}
.boton{
    width: 100%;
}